<launch> 
    <include file="$(find tagslam)/launch/tagslam_navigation.launch">
        <arg name="open_rviz" value="0"/>
    </include>

    <include file="$(find aubo_i5_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="sim" value="false"/>
        <arg name="robot_ip" value="192.168.13.5"/>
    </include> 
    
    <include file="$(find dh_hand_driver)/launch/dh_hand_controller.launch" />

    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch"> 
        <!-- <arg name="output" value="log"/> -->
    </include> 
    
    <node pkg="aubo_arm_usr" type="aubo_motion" name="aubo_motion" />

    <include file="$(find aubo_arm_usr)/launch/grasp_cube_srv.launch"> 
        <!-- <arg name="output" value="log"/> -->
    </include>

    <include file="$(find aubo_arm_usr)/launch/grasp_cup_srv.launch"> 
        <!-- <arg name="output" value="log"/> -->
    </include>
    
    
    <node pkg="slam_semantic_nav_ros" type="tts_subscribe_node" name="tts_subscribe_node" args="$(find slam_semantic_nav_ros)/config/setting_file.yaml"
        clear_params="true" >
    </node>
    
    <include file="$(find rplidar_ros)/launch/rplidar_a3.launch"> </include>
 
    <node pkg="slam_semantic_nav_ros" type="gesture_pub_node"  name="gesture_pub_node"  clear_params="true" output="screen" 
        args="$(find slam_semantic_nav_ros)/config/setting_file.yaml ">
    </node>

    <node pkg="semantic_ros" type="semantic_ros_node" name="semantic_ros_node"   
        args="$(find semantic_ros)/config/semantic_param.yaml">
    </node>
    
</launch>
